<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Helpdesk Menu -->
        <menuitem
            id="mierp_helpdesk_menu"
            parent="mierp_base.mierp_base_menu_root"
            name="Helpdesk"
            sequence="70"/>

        <menuitem
            id="mierp_helpdesk_tickets_menu"
            parent="mierp_helpdesk_menu"
            name="Tickets"
            action="mierp_helpdesk.action_helpdesk_tickets"
            sequence="10"/>
    </data>
</odoo>
