<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Portal Menu -->
        <menuitem
            id="mierp_portal_menu"
            parent="mierp_base.mierp_settings_menu"
            name="Portal"
            sequence="10"/>

        <menuitem
            id="mierp_portal_config_menu"
            parent="mierp_portal_menu"
            name="Portal Configuration"
            action="mierp_portal.action_portal_config"
            sequence="10"/>
    </data>
</odoo>
